<!DOCTYPE html>
<html>
  <head>
    <title> Login Page </title>
    <link rel="stylesheet"  type="text/css" href="public/style.css"/>
  </head>
  <body>
    <h1>Login</h1>
    <form action='/login' method='POST'>
      <div>
        <label for='username'>Username:</label>
        <input type="text" id="username"  placeholder="Username" name ="username" required><br><br>
      </div>

      <div>
        <label for='password'>Password:</label>
        <input type="password" id="password"  placeholder="Password" name ="password" required><br><br>
      </div>

      <button type="submit"> Login </button>
    </form>
    <p> Not part of the community yet?</p>
    <a href="/register">Register here</a>
  </body>
</html>
